<div class="container my-4">
  <div class="card">
    <div class="card-body">
      <h2 class="mb-4"><%= label %></h2>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input 
          value="<%=form.email%>"
          id="email"
          name="email"
          type="email" 
          required
          class="form-control <%= errors?.email ? 'is-invalid' : '' %>">
        <% if (errors?.email) { %>
          <div class="invalid-feedback mt-2"><%= errors.email.message %></div>
        <% } %>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input 
          id="password"
          name="password"
          type="password" 
          required
          class="form-control <%= errors?.password ? 'is-invalid' : '' %>">
        <% if (errors?.password) { %>
          <div class="invalid-feedback mt-2">
            <%= errors.password.message %>
            <i class="fas fa-info-circle text-primary ms-1" data-toggle="tooltip" data-placement="right" title="The password must contain minimum 6 characters - one uppercase letter and one special character ($, @, !, %, *, ?, &)"></i>
          </div>
        <% } %>
      </div>
      <button class="btn btn-primary px-4 py-2 mt-3 mb-2"><%= buttonText %></button>
    </div>
  </div>
</div>