<div class="mb-3">
  <label for="<%= name %>" class="form-label"><%= label %></label>
  <input 
    value="<%= form[name].toISOString().slice(0,10)%>"
    type="date" 
    class="form-control <%= errors?.[name] ? 'is-invalid' : '' %>" 
    name="<%= name%>" 
    id="<%= name %>"
    <%- (required) ? 'required' : '' %> 
  >
  <% if (errors?.[name]) { %>
  <div class="invalid-feedback mt-2"><%= errors?.[name].message %></div>
  <% } %>
</div>