<%- include('../partials/html-header') %>
<div class="header">
  <%- include('../partials/menu') %>
  <h1 class="text-muted text-center mt-4 header-zeyada">Travel with us!</h1>
</div>
<%- body %>
<%- include('../partials/footer') %>
<%- include('../partials/html-footer') %>